.main-wrapper {
  overflow-y: hidden; }

.bg-img {
  background-image: url("==(MAT_cdn)==img/bg-img/Path_2_Copy_3.svg");
  background-repeat: no-repeat;
  background-position: 100% 10%;
  background-size: cover; }

@media (max-width: 575.98px) {
  .bg-img {
    background-position: 100% 60%;
    background-size: 150vw; } }

@media (max-width: 418.98px) {
  .main-container {
    min-height: calc(100vh - 276px); } }

@media (min-width: 419px) and (max-width: 575.98px) {
  .main-container {
    min-height: calc(100vh - 247px); } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .main-container {
    min-height: calc(100vh - 192px); } }

@media (min-width: 768px) and (max-width: 1028.98px) {
  .main-container {
    min-height: calc(100vh - 145px); } }

@media (min-width: 1029px) {
  .main-container {
    min-height: calc(100vh - 128px); } }

@media (max-width: 575.98px) {
  .pages {
    width: 300px;
    height: 150px;
    max-width: 90vw;
    max-height: 45vw; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .pages {
    width: 540px;
    height: 270px; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .pages {
    width: 720px;
    height: 360px; } }

@media (min-width: 992px) {
  .pages {
    width: 100vh;
    height: 50vh; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .pages {
    max-width: 960px;
    max-height: 480px; } }

@media (min-width: 1200px) {
  .pages {
    max-width: 1140px;
    max-height: 570px; } }

.turn-page-help p {
  max-width: 200px;
  font-size: 90%; }

.turn-page-help svg {
  height: 50px; }
  .turn-page-help svg path {
    fill: #fff; }

@media (min-width: 768px) {
  .turn-page-help {
    position: relative;
    right: -50px;
    padding-top: 1em; } }

@media (max-width: 767.98px) {
  .turn-page-help {
    position: relative;
    padding-top: .75em; } }

.pages .even .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(95%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%); }

.pages .odd .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(95%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%); }

.pages .odd .gradient-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), color-stop(2%, rgba(110, 110, 110, 0.1)), color-stop(5%, rgba(255, 255, 255, 0.1)), color-stop(6%, rgba(110, 110, 110, 0.3)), color-stop(7%, rgba(0, 0, 0, 0.1)), color-stop(8%, rgba(110, 110, 110, 0.96)), color-stop(9%, rgba(255, 255, 255, 0.01)), color-stop(99%, rgba(0, 0, 0, 0.01)), to(rgba(0, 0, 0, 0.6))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), color-stop(1%, rgba(0, 0, 0, 0.1)), color-stop(5%, rgba(255, 255, 255, 0)), color-stop(9%, rgba(255, 255, 255, 0)), color-stop(99%, rgba(0, 0, 0, 0.01)), to(rgba(0, 0, 0, 0.4)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(110, 110, 110, 0.1) 2%, rgba(255, 255, 255, 0.1) 5%, rgba(110, 110, 110, 0.3) 6%, rgba(0, 0, 0, 0.1) 7%, rgba(110, 110, 110, 0.96) 8%, rgba(255, 255, 255, 0.01) 9%, rgba(0, 0, 0, 0.01) 99%, rgba(0, 0, 0, 0.6) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.1) 1%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 9%, rgba(0, 0, 0, 0.01) 99%, rgba(0, 0, 0, 0.4) 100%);
  border-radius: 2px 4px 4px 2px; }

.pages .even .gradient-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.7)), color-stop(2%, rgba(110, 110, 110, 0.1)), color-stop(5%, rgba(255, 255, 255, 0.1)), color-stop(6%, rgba(110, 110, 110, 0.3)), color-stop(7%, rgba(0, 0, 0, 0.1)), color-stop(8%, rgba(110, 110, 110, 0.96)), color-stop(9%, rgba(255, 255, 255, 0.01)), color-stop(99%, rgba(0, 0, 0, 0.01)), to(rgba(0, 0, 0, 0.6))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), color-stop(1%, rgba(0, 0, 0, 0.1)), color-stop(5%, rgba(255, 255, 255, 0)), color-stop(9%, rgba(255, 255, 255, 0)), color-stop(99%, rgba(0, 0, 0, 0.01)), to(rgba(0, 0, 0, 0.4)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7) 0%, rgba(110, 110, 110, 0.1) 2%, rgba(255, 255, 255, 0.1) 5%, rgba(110, 110, 110, 0.3) 6%, rgba(0, 0, 0, 0.1) 7%, rgba(110, 110, 110, 0.96) 8%, rgba(255, 255, 255, 0.01) 9%, rgba(0, 0, 0, 0.01) 99%, rgba(0, 0, 0, 0.6) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.1) 1%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 9%, rgba(0, 0, 0, 0.01) 99%, rgba(0, 0, 0, 0.4) 100%);
  border-radius: 4px 2px 2px 4px; }

.pages .shadow,
.pages.shadow {
  -webkit-box-shadow: 0rem 0.35rem 0.75rem rgba(53, 53, 53, 0.4) !important;
          box-shadow: 0rem 0.35rem 0.75rem rgba(53, 53, 53, 0.4) !important; }

.language-dropdown [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0; }

.language-dropdown [type=radio] + img {
  cursor: pointer; }

.language-dropdown [type=radio]:checked + img {
  opacity: 1;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 2pt #d6065c;
          box-shadow: 0 0 0 2pt #d6065c; }

.btn-fake-select {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 1rem;
  width: 100%;
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1.5rem;
  font-family: "FuturaHandwritten";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d; }
  .btn-fake-select:focus, .btn-fake-select :active {
    color: #0b342e;
    background-color: #fff;
    border-color: #00be62;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 3px 5px rgba(0, 0, 0, 0.125) !important; }
  .btn-fake-select span:focus, .btn-fake-select span:active, .btn-fake-select img:focus, .btn-fake-select img:active {
    -webkit-box-shadow: none !important;
            box-shadow: none !important; }

.title {
  border-bottom: 3px solid #64b3f4; }
div.gradient>svg{ display: none!important;}

.wait * {
cursor: wait!important;}

/* Default preview */
@media (max-width: 575.98px) {
  .pages {
    width: 300px;
    height: 150px;
    max-width: 90vw;
    max-height: 45vw; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .pages {
    width: 540px;
    height: 270px; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .pages {
    width: 720px;
    height: 360px; } }

@media (min-width: 992px) {
  .pages {
    width: 100vh;
    height: 50vh; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .pages {
    max-width: 960px;
    max-height: 480px; } }

@media (min-width: 1200px) {
  .pages {
    max-width: 1140px;
    max-height: 570px; } }

.turn-page-help p {
  max-width: 200px;
  font-size: 90%; }

.turn-page-help svg {
  height: 50px; }
  .turn-page-help svg path {
    fill: #fff; }

@media (min-width: 768px) {
  .turn-page-help {
    position: relative;
    right: -50px;
    padding-top: 1em; } }

@media (max-width: 767.98px) {
  .turn-page-help {
    position: relative;
    padding-top: .75em; } }

.pages .even .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(95%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%); }

.pages .odd .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(95%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%); }

.pages .odd .gradient-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), color-stop(2%, rgba(110, 110, 110, 0.1)), color-stop(5%, rgba(255, 255, 255, 0.1)), color-stop(6%, rgba(110, 110, 110, 0.3)), color-stop(7%, rgba(0, 0, 0, 0.1)), color-stop(8%, rgba(110, 110, 110, 0.96)), color-stop(9%, rgba(255, 255, 255, 0.01)), color-stop(99%, rgba(0, 0, 0, 0.01)), to(rgba(0, 0, 0, 0.6))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), color-stop(1%, rgba(0, 0, 0, 0.1)), color-stop(5%, rgba(255, 255, 255, 0)), color-stop(9%, rgba(255, 255, 255, 0)), color-stop(99%, rgba(0, 0, 0, 0.01)), to(rgba(0, 0, 0, 0.4)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(110, 110, 110, 0.1) 2%, rgba(255, 255, 255, 0.1) 5%, rgba(110, 110, 110, 0.3) 6%, rgba(0, 0, 0, 0.1) 7%, rgba(110, 110, 110, 0.96) 8%, rgba(255, 255, 255, 0.01) 9%, rgba(0, 0, 0, 0.01) 99%, rgba(0, 0, 0, 0.6) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.1) 1%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 9%, rgba(0, 0, 0, 0.01) 99%, rgba(0, 0, 0, 0.4) 100%);
  border-radius: 2px 4px 4px 2px; }

.pages .even .gradient-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.7)), color-stop(2%, rgba(110, 110, 110, 0.1)), color-stop(5%, rgba(255, 255, 255, 0.1)), color-stop(6%, rgba(110, 110, 110, 0.3)), color-stop(7%, rgba(0, 0, 0, 0.1)), color-stop(8%, rgba(110, 110, 110, 0.96)), color-stop(9%, rgba(255, 255, 255, 0.01)), color-stop(99%, rgba(0, 0, 0, 0.01)), to(rgba(0, 0, 0, 0.6))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), color-stop(1%, rgba(0, 0, 0, 0.1)), color-stop(5%, rgba(255, 255, 255, 0)), color-stop(9%, rgba(255, 255, 255, 0)), color-stop(99%, rgba(0, 0, 0, 0.01)), to(rgba(0, 0, 0, 0.4)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7) 0%, rgba(110, 110, 110, 0.1) 2%, rgba(255, 255, 255, 0.1) 5%, rgba(110, 110, 110, 0.3) 6%, rgba(0, 0, 0, 0.1) 7%, rgba(110, 110, 110, 0.96) 8%, rgba(255, 255, 255, 0.01) 9%, rgba(0, 0, 0, 0.01) 99%, rgba(0, 0, 0, 0.6) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.1) 1%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 9%, rgba(0, 0, 0, 0.01) 99%, rgba(0, 0, 0, 0.4) 100%);
  border-radius: 4px 2px 2px 4px; }

.pages .shadow,
.pages.shadow {
  -webkit-box-shadow: 0rem 0.35rem 0.75rem rgba(53, 53, 53, 0.4) !important;
          box-shadow: 0rem 0.35rem 0.75rem rgba(53, 53, 53, 0.4) !important; }

.page img {
 width: 100%; }

.gradient svg {
  display: none;
  width: 100%;
  height: 100%;
  transform: scale(0.2);}

.previewPage .gradient svg {
  display:block !important;}

.pages .img-fluid {
 position:absolute;
 z-index: 3; }
.pages gradient{
 z-index: 2;
 background-color: #FFF;}
.pages{
 opacity: 0;
 transition: opacity ease 0.5s;}

.pagesLoaded{
opacity: 1;}